@import 'tailwindcss';

@theme {
  --color-accent: #7fff00;
  --font-display: 'Russo synchro 400', sans-serif;
}

@font-face {
  font-family: 'Russo synchro 400';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/russo-one.woff2') format('woff2');
}
